body {
  display: flex;
  background-color: rebeccapurple;
  height: 100vh;
}

.PC,
.Tablet,
.Mobile {
  margin: auto;
  color: yellow;
  font-size: 100px;
  display: none;
}

/* Mobile */
@media only screen and (max-width: 46.1875em) {
  .Mobile {
    display: block;
  }
}

/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 64.9375em) {
  .Tablet {
    display: block;
  }
}

/* PC */
@media only screen and (min-width: 64em) {
  .PC {
    display: block;
  }
}
